/* Navbar specific styles */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1030;
}

.navbar-brand {
  letter-spacing: 0.06em;
}

.navbar-brand-logo {
  height: 32px;
  width: auto;
  display: block;
}

.nav-link {
  font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
  color: #0d6efd;
}

.nav-link.active {
  color: #0d6efd;
}

